@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.r-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#ffffff;
    min-width: 100%;
}
.r-container .r-card{
    height:630px;
    width:950px;
    background-color:#fff;
    position:relative;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;
}
.r-container .r-card .r-form{
    width:100%;
    height:100%;
    display:flex;
}
.r-container .r-card .r-left-side{
    width:45%;
    height:100%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #003F62;
}

.r-left-side-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    color: white;
  }
  
  .r-left-side-text text{
  font-weight :700;
  font-size :50.78px;
  }
  
  .r-left-side-text p{
      margin-top: 1rem;
      font-weight: 400;
  }
  
  .r-left-side-text button{
    background-color: transparent;
    border-color: #ffffff;
    font-size: 15px;
    font-weight: 800;
    padding: 12px 45px;
    letter-spacing: 1px;
    border-radius:43.93px;
    color: white;
    margin-top: 3rem;
  
  }

  .r-container .r-card .r-right-side{
    width:55%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.r-right-side_content{
    margin: 0rem 5rem;
}

.r-heading text{
    display: flex;
    text-align: center;
    font-weight: 700;
    font-size: 45.12px;
    line-height: 65.62px;
    color: #EDA415;
}

.r-input-text{
    position:relative;
    margin-top:20px;
    width:100%;
}
input[type="text"]{
    height:45px;
    width:100%;
    border:none;
    border-radius:7px;
    background-color:#f5f5f5;
    outline:0;
    padding:0 10px;
    font-size:13px;
    padding-left:30px;
}
input[type="password"]{
    height:45px;
    width:100%;
    border:none;
    border-radius:7px; 
    background-color:#f5f5f5;
    outline:0; 
    padding:0 10px;
    font-size:13px;
    padding-left:30px;
    padding-right:30px;
}

.r-input-text i{
    position:absolute;
    top:17px;
    font-size:13px;
    cursor:pointer;
}

.r-input-text .fa-user{
    left:8px;
}

.r-input-text .fa-envelope{
    left:8px;
}
.r-input-text .fa-lock{
    position:absolute;
    left:8px;
    font-size:14px;
}
.r-input-text .fa-eye-slash{
    position:absolute;
    right:10px;
    
}
.r-input-text .fa-eye{
    position:absolute;
    right:10px;
}

.r-button,.r-reg-button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    
}
.r-button button , .r-reg-button button{
    background-color:#EDA415;
    border:none;
    border-radius:43.93px;
    color:#fff;
    cursor:pointer;
    font-size:15px;
    font-weight: 700;
    transition:all 0.5s;
    padding: 1rem 4rem;
}
.r-button button:hover{
    background-color:#f5c056;
}

.r-reg-button_or{
    display: none;
  }

  .r-reg-button{
    display: none;
  }



  .register-error-message{
    color: red;
    font-size: 12px;
    padding-left: 2rem;
}

.registration-error{
    color: red;
    font-size: 14px;
    font-weight: 600;
    font-family: fantasy;
}


  @media (max-width:900px) {
    .r-right-side_content{
        margin: 0rem 2rem;
    }
  }


@media (max-width:750px) {
    /* .container .card {
        max-width: 350px;
        height:auto;
    } */
    .r-container .r-card .r-left-side {
        display: none;
       
    }

    .r-heading{
        width: 100%;
    }

    .r-heading text{
        font-size: 35px;
        line-height: 50px;
    }

    .r-container .r-card .r-right-side {
        width:100%;
        box-shadow:0 15px 30px rgba(0,0,0,0.1);
        margin: 0rem 0.5rem;
    }
    
    .r-button button,.r-reg-button button{
        padding: 0.8rem 5rem;
    }

    .r-reg-button{
        display: flex;
    }

    .r-reg-button button{
        background-color: #f0bf5d;
    }

    .r-reg-button_or{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 18px;
        color: #EDA415;
    }
}