.addCatagory-mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
 width: 100%;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 background-color: rgba(0,0,0,0.4);
 transition: 0.5s;
 opacity: 0;
 visibility: hidden;
}

.addCatagory-mainContainer.active{
    opacity: 1;
    visibility: visible;
}

.addCatagory-container{
    width: 30rem;
    height: 20rem;
    background-color: white;
    position: fixed;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addCatagory-container input {
    margin-top: 2rem;
    width: 15rem;
    height: 3rem;
}

.addCatagory-heading{
    display: flex;
    justify-content: center;
    font-size: 23.73px;
    font-weight: 600;
    margin-top: 4rem;
}

.addCatagory-button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.addCatagory-button button{
    border-radius: 10px;
    margin-left: 1rem;
}

.addCatagory-button_add{
    color: white;
    background-color: #EDA415;
}

.addCatagory-button_discart{
    color: black;
    background-color: #EEEEEE;
}

@media (max-width:600px) {
    .addCatagory-container{
        width: 25rem;
        height: 25rem;
        background-color: white;
        position: fixed;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


@media (max-width:450px) {
    .addCatagory-container{
        width: 20rem;
        height: 20rem;
        background-color: white;
        position: fixed;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .addCatagory-heading{
        display: flex;
        justify-content: center;
        font-size: 23.73px;
        font-weight: 600;
        margin-top: 1.5rem;
    }
}