.addProduct-mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
 width: 100%;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 background-color: rgba(0,0,0,0.4);
 transition: 0.5s;
 opacity: 0;
 visibility: hidden;
}


.addProduct-mainContainer.active{
    opacity: 1;
    visibility: visible;
    
}

.addProduct-container{
    width: 60rem;
    height: 40rem;
    background-color: white;
    border-radius: 20px;
}

.addProduct-heading{
    display: flex;
    justify-content: center;
    font-size: 23.73px;
    margin-top: 5rem;
    font-weight: 600;
}

.addProduct-fields{
    margin: 2rem;
}

.addProduct-name,.addProduct-name_subcatagory{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
}

.addProduct-fieldContainer{
    display: flex;
}



.addProduct-name text {
    width: 15rem;
    font-size: 25.01px;
    color: #3C3C3C73;
    font-weight: 500;
}

.addProduct-name_subcatagory text{
    font-size: 25.01px;
    color: #3C3C3C73;
    font-weight: 500;
}

.addProduct-name input{
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
}

.addProduct-button_qtyBtn{
    display: flex;
    border: 1px solid #BDBDBD;
    margin-left: 1rem;
    width: fit-content;
    height: fit-content;
}

.addProduct-button_qtyBtn-button{
    background-color: rgb(202, 198, 198);
    cursor: pointer;
}

.addProduct-button_qtyBtn text{
    padding: 0.2rem 0rem;
    font-size: 20px;
    width: 1.5rem;
    display: flex;
    justify-content: center;

}

.addProduct-name_subcatagory select{
    padding: 1rem 4rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #BDBDBD;
}

.addProduct-name select{
    padding: 1rem 4rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #BDBDBD;
}

.addProduct-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.addProduct-button button{
    border-radius: 10px;
    margin-left: 1rem;
}

.addProduct-button_add{
    color: white;
    background-color: #EDA415;
}

.addProduct-button_discart{
    color: black;
    background-color: #EEEEEE;
}

.addProduct-image{
    display: flex;
}

.addProduct-error_input{
    outline-color: red;
    outline-style: groove;
}


@media (max-width:1000px) {
    .addProduct-container{
        width: fit-content;
    }
    .addProduct-fields{
        margin: 1rem;
    }
}

@media (max-width:850px) {
    .addProduct-name text {
        display: flex;
        width: fit-content;
        font-size: 20px;
    }   
    .addProduct-container{
        overflow-x: scroll;
    }
}