.product-mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-container{
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    flex-wrap: wrap;
    margin-left: 15rem;
}

.products-box{
    display: flex;
    flex-direction: column;
    border: 1px solid #B6B6B6;
    border-radius: 20px;
    width: 20rem;
    height: 20rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.product-img{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.product-img img{
    width: 10rem;
    height: 10rem;
}

.product-favoriteIcn{
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 1rem;
    cursor: pointer;
}

.product-content{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.product-starIcn{
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%; /* Take full width of the parent */
    position: sticky; /* Stick to the bottom */
    bottom: 0; /* Align to the bottom */

  }
  
  .pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }

  .pagination button.active {
    background-color: #007bff;
    color: #fff;
}

.pagination button:focus {
    outline: none; /* Remove the default focus outline */
}

.pagination button:active {
    background-color: #0056b3; /* Change the color when the button is clicked */
}


@media (max-width:900px) {
    .product-mainContainer {
        align-items: stretch;
    }

    .products-container {
        margin-left: 0;
    }

    .pagination {
        position: relative; /* Reset position */
        margin-top: 20px; /* Adjust as needed */
    }
}

@media (max-width:400px) {
    .product-mainContainer {
        margin-top: 3rem;
    }
}